body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.droppable{
    height: 100px;
    width: 100px;
    background-color: beige;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable{
    background-color: coral;
    height: 90px;
    width: 90px;
    cursor: grab;
}

.hold {
    opacity: 80%;
    border: 2px solid black;
}